<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
	  <machineKey decryption="AES" decryptionKey="732ED387C9A26C48918BCF2BDE72FFA3B275686B61E90C6B00D863220FA58FC0" validation="HMACSHA256" validationKey="17DACC8903E604B6ADCB5D8312FC809D3D5691B1B3CF25F265AB7B792B95243013671C3AB98A03FAC12B1A437FC623AFDCA4178C1DA49814A123AB905A11360E" />
	  <authentication mode="Forms" />
	  <authorization>
		  <allow users ="*" />
	  </authorization>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <handlers>
	  <add name=".svc" verb="*" path="*.svc"
	 type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, 
			System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, 
			PublicKeyToken=31bf3856ad364e35" />
	  </handlers>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
